


.half{
    width: 50%;
}
.half img{
    width: 80%;
}
.sec{
    margin-top: 2%;
    padding: 2% 2%;
    
    

}


.button{
    background-color: rgb(136, 4, 107);
    color: rgb(255, 255, 255);
  margin-top: 30%;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 5px;
}
.flex{
    display: flex;
}
.box img{
    width: auto;
}
.box{
    
    width: 350px;
height: 476px;
left: 196px;
top: 1541px;
padding-top: 15px;
padding-left: 20px;
margin-left: 15px;
 
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px 6px rgb(131, 126, 126);
    
    
    

}
.item{
    text-align: center;
  
}